#box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    width: 250px;
    height: 200px;
    margin: 20px;
    border-radius: 200px;
    position: relative;
  }
  
  #box:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(-1 * 10px); /* Ajusta el grosor del borde */
    left: calc(-1 * 10px); /* Ajusta el grosor del borde */
    border-radius: 4cm;
    z-index: -1;
    width: calc(100% + (10px * 2)); /* Ajusta el grosor del borde */
    height: calc(100% + (10px * 2)); /* Ajusta el grosor del borde */
    background: linear-gradient(60deg, #f79533, #e8f355, #f90047, #dd1313, #1d5fe2, #06c5e2, #3cdec9, #8dc0ff);
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  